body {
	padding-top: 25px;
}

#game-board {
  vertical-align: middle;
  text-align: center;
}

#game-board div {
  padding-bottom: 10px;
}

#game-board button {
  width: 100%;
  height: 100%;
}

.alert h2 {
	margin-top: 0px;
}

.alert {
	margin-top: 10px;
}